body{
	margin: 0 auto;
	font:16px Verdana, Arial;
}

/*=============================================
оформление блока шапки
==============================================*/
header {
	background: #fc3;
	border-bottom: 3px solid black; 
}
.header{
	border-left: 3px solid black;
	border-right: 3px solid black;
	width: 1000px;
	margin: 0 auto;
   	height:  100px;
   	vertical-align:  middle;
}

/*=========================================
оформление блока контента==================*/
.container {
	margin: 0 auto;
	width: 1000px;
	border-left: 3px solid black;
	border-right: 3px solid black;
	height: 100%;
}
.cont1{
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.cont2{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	min-height: 500px;
}
.block1, .block2, .block3, .block4 {
    background: #456;
    height: 40px;
    display: inline-block;
	margin: 5%; 
    padding: 70px;
}

/*=========================================
оформление footer========================*/
footer {
	background: #008000;
	border-top: 3px solid black;
}
.footer1, .footer2{
	width: 1000px;
	margin: 0 auto;
	height: 50px;
	border-left: 3px solid black;
	border-right: 3px solid black;
   	vertical-align:  middle;
}
.footer1{
	text-align: center;
}
